body {
    background-color: tan;
    background-image: url("../images/background.png");

}

header {
    background-color: orange;
    width: 40%;
    padding: 12px;
}

#yellowCrystal {
    height: 70px;
    width: auto;
}
#blueCrystal {
    height: 70px;
    width: auto;
}
#redCrystal {
    height: 70px;
    width: auto;
}
#greenCrystal {
    height: 70px;
    width: auto;
}

#instructions {
    background-color: tan;
    width: 40%;
}

